{% extends 'base.html' %}
{% load static %}


{% block title %}
    所有单词
{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}


{% block body %}
    <div class="container">
        <div id="choose_order" class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div id="show_word" class="col-md-8 column">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            单词
                        </th>
                        <th>
                            释义
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(data_sub,n) in data.results" :class="get_class_for_show(n)">
                        <td v-text="n+1"></td>
                        <td><a v-text="data_sub.english" :href="data_sub.url"></a></td>
                        <td v-text="data_sub.chinese_translation"></td>
                    </tr>


                    <tr class="success">

                    </tr>
                    <tr class="error">

                    </tr>
                    <tr class="warning">

                    </tr>
                    <tr class="info">

                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li :class="previous_button" @click="previous_page">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" v-text="now_page"></a></li>
                        <li :class="next_button" @click="next_page">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2 column">
                <div class="btn-group">
                    <button v-text="now_order" class="btn btn-default"></button>
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a @click="new_order">按最新</a>
                        </li>
                        <li>
                            <a @click="word_abc_order">按字母顺序</a>
                        </li>
                        <li>
                            <a @click="error_rate_order">按错误率</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_script %}
    {{ block.super }}
    <script src="{% static 'js/english_app/all_words.js' %}"></script>
    <script src="{% static 'js/english_app/choose_order.js' %}"></script>
{% endblock %}
