{% extends 'base.html' %}
{% load static %}


{% block title %}
    试题记录
{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="/vue.js"></script>
{% endblock %}



{% block body %}

<div class="container">
	<div id="history_exam" class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
            <div v-for="data in datas.results">
                总数<strong v-text="data.total"></strong> 正确率 <small v-text="data.correct_odds"></small>
                <ul>
                    <li v-for="question in data.questions">
                        <b v-text="question.english"></b>
                        <small v-text="question.answer"></small>
                    </li>
                </ul>
            </div>

		</div>
		<div class="col-md-2 column">
		</div>
	</div>
</div>

{% endblock %}

{% block end_script %}
    {{ block.super }}
    <script src="{% static 'js/english_app/history_exam.js' %}"></script>
{% endblock %}

