{% extends 'base.html' %}
{% load static %}


{% block title %}
    删除面试题
{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}


{% block in_header %}

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <button type="button" class="btn btn-default">按钮</button>
                <h4>
                <ol>
                    <li>
                        Lorem ipsum dolor sit amet
                    </li>
                    <hr>
                    <li>
                        Consectetur adipiscing elit
                    </li>
                    <li>
                        Integer molestie lorem at massa
                    </li>
                    <li>
                        Facilisis in pretium nisl aliquet
                    </li>
                    <li>
                        Nulla volutpat aliquam velit
                    </li>
                    <li>
                        Faucibus porta lacus fringilla vel
                    </li>
                    <li>
                        Aenean sit amet erat nunc
                    </li>
                    <li>
                        Eget porttitor lorem
                    </li>
                </ol>
                    </h4>
            </div>
        </div>
    </div>
{% endblock %}


{% block end_script %}
    {{ block.super }}
    {#    <script src="{% static 'js/english_app/add_word.js' %}"></script>#}
{% endblock %}





