{% extends 'base.html' %}
{% load static %}


{% block title %}
面试板块
{% endblock %}

{% block head %}
{{ block.super }}
    <script src="/vue.js"></script>
{% endblock %}

{% block in_header %}
<div class="container">
	<div id="interview_index" class="row clearfix">
		<div class="col-md-10 column">

            <br>
            <br>
			<div class="row clearfix">
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
                    <a href="{% url 'interview_app:add_question' %}"><button type="button" class="btn btn-default btn-primary">去添加</button></a>
				</div>
				<div class="col-md-4 column">
					 <a href="{% url 'interview_app:interviewquestion-list' %}"><button type="button" class="btn btn-default btn-primary">去删除</button></a>
				</div>
			</div>
            <br>
            <br>
			<div class="panel-group" id="panel-900319">
				<div v-for="(result,n) in data.results" class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-900319" :href="'#panel-element-'+n" v-text="result.question"></a>
					</div>
					<div :id="'panel-element-'+n" class="panel-collapse collapse">
						<div v-text="result.answer" class="panel-body" style="background: #e7fffa">
						</div>
					</div>
				</div>
			</div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li :class="previous_button" @click="previous_page">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" v-text="now_page"></a></li>
                        <li :class="next_button" @click="next_page">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
</div>
{% endblock %}


{% block end_script %}
{{ block.super }}
    <script src="{% static 'js/interview_app/index.js' %}"></script>
{% endblock %}


